.vector-icon10,
.vector-icon9 {
  height: 48.71%;
  width: 41.88%;
  opacity: 0.5;
}
.vector-icon9 {
  position: absolute;
  top: 37.4%;
  right: 72.22%;
  bottom: 13.89%;
  left: -14.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10 {
  top: 63.57%;
  right: -4.79%;
  bottom: -12.28%;
  left: 62.92%;
}
.frame-icon12,
.frame-icon13,
.frame-icon14,
.vector-icon10,
.vector-icon11 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11 {
  height: 48.71%;
  width: 41.88%;
  top: -19.39%;
  right: 27.08%;
  bottom: 70.68%;
  left: 31.04%;
  opacity: 0.5;
}
.frame-icon12,
.frame-icon13,
.frame-icon14 {
  height: 6.83%;
  width: 5.88%;
  top: 44.83%;
  right: 92.67%;
  bottom: 48.34%;
  left: 1.46%;
}
.frame-icon13,
.frame-icon14 {
  top: 72.37%;
  right: 80.79%;
  bottom: 20.79%;
  left: 13.33%;
}
.frame-icon14 {
  top: 64.78%;
  right: 1.69%;
  bottom: 28.38%;
  left: 92.43%;
}
.copyright-vnuva-bvp1 {
  position: absolute;
  top: 192px;
  left: calc(50% - 94px);
  line-height: 20px;
}
.home2 {
  position: relative;
  line-height: 20px;
}
.footer-item,
.frame1 {
  position: absolute;
  box-sizing: border-box;
}
.frame1 {
  top: 90px;
  left: calc(50% - 218px);
  width: 437px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-22xl) 0;
  gap: var(--gap-51xl);
}
.footer-item {
  top: -0.5px;
  left: calc(50% - 600.5px);
  border-top: 1px solid var(--color-gray-100);
  width: 1201px;
  height: 1px;
}
.image-837-icon1 {
  width: 48px;
  position: relative;
  height: 37px;
  object-fit: cover;
}
.arcticonsinstagram1 {
  width: 48.8px;
  position: relative;
  height: 48.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.linkedin-1-icon1 {
  width: 48px;
  position: relative;
  height: 48px;
  object-fit: cover;
}
.image-837-group {
  position: absolute;
  top: 53px;
  left: calc(50% - 175px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-33xl-5);
}
.footer1 {
  position: absolute;
  top: 981px;
  left: calc(50% - 600px);
  width: 1200px;
  height: 212px;
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.path470-icon,
.path502-icon {
  position: absolute;
  height: 12.04%;
  width: 0.57%;
  top: 37.56%;
  right: 0.47%;
  bottom: 50.4%;
  left: 98.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path502-icon {
  width: 0.28%;
  right: 0.19%;
  left: 99.53%;
}
.path526-icon,
.path558-icon,
.path582-icon,
.path604-icon,
.path636-icon,
.path660-icon,
.path756-icon {
  position: absolute;
  height: 7.63%;
  width: 0.33%;
  top: 30.63%;
  right: 99.53%;
  bottom: 61.73%;
  left: 0.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path558-icon,
.path582-icon,
.path604-icon,
.path636-icon,
.path660-icon,
.path756-icon {
  width: 0.14%;
  right: 99.86%;
  left: 0;
}
.path582-icon,
.path604-icon,
.path636-icon,
.path660-icon,
.path756-icon {
  width: 0.33%;
  right: 99.2%;
  left: 0.47%;
}
.path604-icon,
.path636-icon,
.path660-icon,
.path756-icon {
  top: 40.21%;
  right: 99.53%;
  bottom: 52.15%;
  left: 0.14%;
}
.path636-icon,
.path660-icon,
.path756-icon {
  width: 0.14%;
  right: 99.86%;
  left: 0;
}
.path660-icon,
.path756-icon {
  width: 0.33%;
  top: 40.23%;
  right: 99.2%;
  bottom: 52.13%;
  left: 0.47%;
}
.path756-icon {
  height: 3.16%;
  width: 22.08%;
  top: 6.98%;
  right: 39.48%;
  bottom: 89.86%;
  left: 38.44%;
}
.path682-icon,
.path714-icon {
  position: absolute;
  height: 3.91%;
  top: 19.7%;
  bottom: 76.39%;
  overflow: hidden;
}
.path682-icon {
  width: 0.33%;
  right: 99.53%;
  left: 0.14%;
  max-width: 100%;
  max-height: 100%;
}
.path714-icon {
  width: 0.14%;
  right: 99.86%;
  left: 0;
}
.path714-icon,
.path738-icon,
.path762-icon {
  max-width: 100%;
  max-height: 100%;
}
.path738-icon {
  position: absolute;
  height: 3.91%;
  width: 0.33%;
  top: 19.7%;
  right: 99.2%;
  bottom: 76.39%;
  left: 0.47%;
  overflow: hidden;
}
.path762-icon {
  height: 1.38%;
  width: 2.78%;
  top: 6.09%;
  right: 42.17%;
  bottom: 92.53%;
  left: 55.05%;
}
.image784-icon,
.path762-icon,
.path778-icon {
  position: absolute;
  overflow: hidden;
}
.path778-icon {
  height: 1.29%;
  width: 2.59%;
  top: 6.04%;
  right: 42.26%;
  bottom: 92.67%;
  left: 55.14%;
  max-width: 100%;
  max-height: 100%;
}
.image784-icon {
  height: 1.71%;
  width: 3.44%;
  top: 4.57%;
  right: 41.89%;
  bottom: 93.72%;
  left: 54.67%;
  object-fit: cover;
}
.image784-icon,
.path790-icon,
.path806-icon {
  max-width: 100%;
  max-height: 100%;
}
.path790-icon {
  position: absolute;
  height: 0.8%;
  width: 1.6%;
  top: 5.81%;
  right: 42.78%;
  bottom: 93.4%;
  left: 55.61%;
  overflow: hidden;
}
.path806-icon {
  height: 0.7%;
  width: 1.42%;
  top: 5.76%;
  right: 42.88%;
  bottom: 93.54%;
  left: 55.71%;
}
.image812-icon,
.path806-icon,
.path818-icon {
  position: absolute;
  overflow: hidden;
}
.image812-icon {
  height: 1.03%;
  width: 2.08%;
  top: 4.87%;
  right: 42.59%;
  bottom: 94.1%;
  left: 55.33%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.path818-icon {
  height: 0.14%;
  width: 0.28%;
  top: 5.71%;
  right: 42.97%;
  bottom: 94.15%;
  left: 56.75%;
}
.image824-icon,
.path818-icon,
.path830-icon {
  max-width: 100%;
  max-height: 100%;
}
.image824-icon {
  position: absolute;
  height: 0.56%;
  width: 0.94%;
  top: 5.34%;
  right: 42.59%;
  bottom: 94.1%;
  left: 56.46%;
  overflow: hidden;
  object-fit: cover;
}
.path830-icon {
  height: 0.23%;
  width: 0.47%;
  top: 5.71%;
  right: 42.97%;
  bottom: 94.05%;
  left: 56.56%;
}
.image836-icon,
.path460-icon,
.path830-icon {
  position: absolute;
  overflow: hidden;
}
.image836-icon {
  height: 0.56%;
  width: 1.18%;
  top: 5.34%;
  right: 42.59%;
  bottom: 94.1%;
  left: 56.23%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.path460-icon {
  height: 99.46%;
  width: 97.17%;
  top: 99.7%;
  right: 1.51%;
  bottom: -99.16%;
  left: 1.32%;
}
.path458-icon,
.path460-icon,
.path462-icon {
  max-width: 100%;
  max-height: 100%;
}
.path458-icon {
  position: absolute;
  height: 99.93%;
  width: 98.11%;
  top: 99.93%;
  right: 1.04%;
  bottom: -99.86%;
  left: 0.85%;
  overflow: hidden;
}
.path462-icon {
  height: 98.38%;
  width: 94.76%;
  top: 99.16%;
  right: 2.74%;
  bottom: -97.54%;
  left: 2.5%;
}
.path462-icon,
.path464-icon,
.qr-code-icon {
  position: absolute;
  overflow: hidden;
}
.path464-icon {
  height: 100%;
  width: 99.95%;
  top: 100%;
  right: 0.05%;
  bottom: -100%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.qr-code-icon {
  top: calc(50% - 92.25px);
  left: calc(50% - 92.9px);
  width: 185px;
  height: 185px;
}
.phone-screen-child {
  position: absolute;
  top: 313px;
  left: 17px;
  border-radius: 28px;
  background-color: var(--color-black);
  width: 153px;
  height: 54px;
}
.join-now,
.phone-screen {
  position: absolute;
  top: 322px;
  left: 29px;
}
.phone-screen {
  height: 95.2%;
  width: 88.58%;
  top: 2.34%;
  right: 6.23%;
  bottom: 2.46%;
  left: 5.19%;
}
.d2p {
  width: 212px;
  position: relative;
  height: 427px;
}
.venuvabvp {
  margin: 0;
}
.please-feel-free-container,
.venuvabvp-venuva-bvp-vnuva-container {
  position: absolute;
  width: 44.9%;
  top: 114.5px;
  left: 55.1%;
  display: inline-block;
}
.please-feel-free-container {
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
  height: 304px;
}
.venuvabvp-venuva-bvp-vnuva-parent {
  flex: 1;
  position: relative;
  height: 304.5px;
  text-align: right;
  font-size: var(--font-size-11xl);
}
.contact-details {
  position: absolute;
  width: 74.24%;
  top: 427px;
  right: 9.79%;
  left: 15.97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
  font-size: 29px;
}
.contact-child {
  position: absolute;
  top: 248.9px;
  left: calc(50% - 154px);
  width: 308px;
  height: 1.1px;
  object-fit: contain;
}
.contact-us3 {
  position: absolute;
  top: 173px;
  left: calc(50% - 163px);
  font-size: var(--font-size-47xl);
  text-align: center;
  display: inline-block;
  width: 327px;
  height: 65px;
}
.about4,
.contact-us4,
.events3,
.home3 {
  width: 78px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  height: 29px;
  flex-shrink: 0;
}
.about4,
.contact-us4,
.events3 {
  width: 93px;
}
.contact-us4,
.events3 {
  width: 88px;
}
.contact-us4 {
  width: 154px;
}
.menu-bar1 {
  position: absolute;
  width: 42.97%;
  top: 37px;
  right: 6.5%;
  left: 50.52%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
}
.image-9-icon1,
.logo-icon2 {
  position: absolute;
  width: 13.36%;
  top: 0;
  right: 86.64%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 122px;
  object-fit: cover;
}
.image-9-icon1 {
  width: 2.47%;
  top: 37px;
  right: 0;
  left: 97.53%;
  height: 33px;
}
.landing-page1 {
  position: absolute;
  width: 92.92%;
  top: 10px;
  right: 3.54%;
  left: 3.54%;
  height: 122px;
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-cheque);
}
.contact {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  height: 1238px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-abyssinica-sil);
}
