.vector-icon12 {
  position: absolute;
  height: 8.06%;
  width: 41.88%;
  top: 77.16%;
  right: 67.22%;
  bottom: 14.78%;
  left: -9.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.vector-icon13,
.vector-icon14,
.vector-icon15,
.vector-icon16,
.vector-icon17,
.vector-icon18 {
  position: absolute;
  height: 5.38%;
  width: 27.92%;
  top: 76.89%;
  right: 3.75%;
  bottom: 17.73%;
  left: 68.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.vector-icon14,
.vector-icon15,
.vector-icon16,
.vector-icon17,
.vector-icon18 {
  height: 8.06%;
  width: 41.88%;
  top: 92.07%;
  right: 90.42%;
  bottom: -0.13%;
  left: -32.29%;
}
.vector-icon15,
.vector-icon16,
.vector-icon17,
.vector-icon18 {
  height: 7.62%;
  width: 34.93%;
  top: 96.19%;
  right: -26.04%;
  bottom: -3.81%;
  left: 91.11%;
}
.vector-icon16,
.vector-icon17,
.vector-icon18 {
  height: 8.06%;
  width: 41.88%;
  top: 38.16%;
  right: 67.22%;
  bottom: 53.78%;
  left: -9.1%;
}
.vector-icon17,
.vector-icon18 {
  height: 5.38%;
  width: 27.92%;
  top: 37.89%;
  right: 3.75%;
  bottom: 56.73%;
  left: 68.33%;
}
.vector-icon18 {
  height: 8.06%;
  width: 41.88%;
  top: 57.55%;
  right: 90.35%;
  bottom: 34.39%;
  left: -32.22%;
}
.vector-icon19,
.vector-icon20,
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  position: absolute;
  height: 7.62%;
  width: 34.93%;
  top: 67.86%;
  right: -6.87%;
  bottom: 24.52%;
  left: 71.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.vector-icon20,
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  height: 8.06%;
  width: 41.88%;
  top: 6.27%;
  right: 71.46%;
  bottom: 85.66%;
  left: -13.33%;
}
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  top: 11.81%;
  right: -4.93%;
  bottom: 80.13%;
  left: 63.06%;
}
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  top: 24.11%;
  right: 64.93%;
  bottom: 67.82%;
  left: -6.81%;
}
.vector-icon23,
.vector-icon24 {
  height: 5.38%;
  width: 27.92%;
  top: 23.85%;
  right: 1.46%;
  bottom: 70.78%;
  left: 70.63%;
}
.vector-icon24 {
  height: 8.06%;
  width: 41.88%;
  top: -2.61%;
  right: 27.08%;
  bottom: 94.54%;
  left: 31.04%;
}
.frame-icon15,
.frame-icon16,
.frame-icon17,
.frame-icon18,
.frame-icon19,
.frame-icon20,
.vector-icon25 {
  position: absolute;
  height: 1.13%;
  width: 5.88%;
  top: 94.01%;
  right: 89.26%;
  bottom: 4.86%;
  left: 4.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-icon16,
.frame-icon17,
.frame-icon18,
.frame-icon19,
.frame-icon20,
.vector-icon25 {
  top: 86.29%;
  right: 6%;
  bottom: 12.58%;
  left: 88.13%;
}
.frame-icon17,
.frame-icon18,
.frame-icon19,
.frame-icon20,
.vector-icon25 {
  top: 95.05%;
  right: 8.92%;
  bottom: 3.82%;
  left: 85.21%;
}
.frame-icon18,
.frame-icon19,
.frame-icon20,
.vector-icon25 {
  top: 97.81%;
  right: 83.29%;
  bottom: 1.06%;
  left: 10.83%;
}
.frame-icon18,
.frame-icon19,
.frame-icon20 {
  top: 55.01%;
  right: 92.74%;
  bottom: 43.86%;
  left: 1.39%;
}
.frame-icon19,
.frame-icon20 {
  top: 47.29%;
  right: 6%;
  bottom: 51.58%;
  left: 88.13%;
}
.frame-icon20 {
  top: 56.05%;
  right: 8.92%;
  bottom: 42.82%;
  left: 85.21%;
}
.frame-icon21,
.frame-icon22,
.frame-icon23,
.frame-icon24,
.frame-icon25,
.frame-icon26,
.frame-icon27 {
  position: absolute;
  height: 1.13%;
  width: 5.88%;
  top: 69.81%;
  right: 93.29%;
  bottom: 29.05%;
  left: 0.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-icon22,
.frame-icon23,
.frame-icon24,
.frame-icon25,
.frame-icon26,
.frame-icon27 {
  top: 63.19%;
  right: 86.28%;
  bottom: 35.67%;
  left: 7.85%;
}
.frame-icon23,
.frame-icon24,
.frame-icon25,
.frame-icon26,
.frame-icon27 {
  top: 19.83%;
  right: 93.01%;
  bottom: 79.03%;
  left: 1.11%;
}
.frame-icon24,
.frame-icon25,
.frame-icon26,
.frame-icon27 {
  top: 11.5%;
  right: 93.85%;
  bottom: 87.37%;
  left: 0.28%;
}
.frame-icon25,
.frame-icon26,
.frame-icon27 {
  top: 33.64%;
  right: -0.32%;
  bottom: 65.23%;
  left: 94.44%;
}
.frame-icon26,
.frame-icon27 {
  width: 6.57%;
  top: 18.35%;
  right: 37.25%;
  bottom: 80.52%;
  left: 56.18%;
}
.frame-icon27 {
  width: 5.88%;
  top: 23.15%;
  right: 0.24%;
  bottom: 75.72%;
  left: 93.89%;
}
.copyright-vnuva-bvp2 {
  position: absolute;
  top: 192px;
  left: calc(50% - 94px);
  line-height: 20px;
}
.home4 {
  position: relative;
  line-height: 20px;
}
.frame2 {
  position: absolute;
  top: 90px;
  left: calc(50% - 218px);
  width: 437px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-22xl) 0;
  box-sizing: border-box;
  gap: var(--gap-51xl);
}
.image-837-icon2 {
  width: 48px;
  position: relative;
  height: 37px;
  object-fit: cover;
}
.arcticonsinstagram2 {
  width: 48.8px;
  position: relative;
  height: 48.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.linkedin-1-icon2 {
  width: 48px;
  position: relative;
  height: 48px;
  object-fit: cover;
}
.image-837-container {
  position: absolute;
  top: 37px;
  left: calc(50% - 175px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-33xl-5);
}
.footer-inner {
  position: absolute;
  top: -0.5px;
  left: calc(50% - 600.5px);
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 1201px;
  height: 1px;
}
.footer2 {
  position: absolute;
  top: 7236px;
  left: calc(50% - 596px);
  width: 1200px;
  height: 212px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.the-premier-of {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.kickoff-pic-child,
.kickoff-pic-item {
  position: absolute;
  border-radius: var(--br-16xl);
}
.kickoff-pic-child {
  width: 89.9%;
  top: 0;
  right: 5.05%;
  left: 5.05%;
  background-color: var(--color-darkgray);
  height: 329px;
}
.kickoff-pic-item {
  width: 100%;
  top: 22px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 307px;
  object-fit: cover;
}
.kickoff-pic {
  width: 416px;
  position: relative;
  height: 329px;
}
.the-premier-of-vnuva-the-fas-parent {
  position: absolute;
  width: 97.61%;
  top: 109px;
  right: 2.39%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-79xl);
}
.kickoff-child {
  position: absolute;
  width: 30.91%;
  top: 77.5px;
  right: 0.04%;
  left: 69.05%;
  max-width: 100%;
  overflow: hidden;
  height: 392px;
}
.vnuva-kick-offs {
  position: absolute;
  top: 0;
  left: 67.57%;
  font-size: var(--font-size-31xl);
  text-transform: capitalize;
  text-align: right;
}
.kickoff {
  position: absolute;
  width: 84.38%;
  top: 6599px;
  right: 7.78%;
  left: 7.85%;
  height: 469.5px;
}
.orientation-pic-child,
.orientation-pic-item {
  position: absolute;
  border-radius: var(--br-16xl);
}
.orientation-pic-child {
  top: 0;
  left: 21px;
  background-color: var(--color-darkgray);
  width: 374px;
  height: 329px;
}
.orientation-pic-item {
  top: 22px;
  left: 0;
  width: 416px;
  height: 307px;
  object-fit: cover;
}
.team-vnuva-walked {
  flex: 1;
  position: relative;
}
.orientation-pic-parent {
  position: absolute;
  width: 87.41%;
  top: 177.6px;
  right: 0;
  left: 12.59%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mid);
}
.vnuva-society-orientation-child {
  position: absolute;
  width: 44.94%;
  top: 0;
  right: 55.06%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 521.5px;
  object-fit: contain;
}
.vnuva-society-orientation1 {
  position: absolute;
  top: 69.6px;
  left: 9.94%;
  font-size: var(--font-size-31xl);
  text-transform: capitalize;
  text-align: left;
}
.vnuva-society-orientation {
  position: absolute;
  width: 91.84%;
  top: 5995px;
  right: 8.61%;
  left: -0.45%;
  height: 521.5px;
}
.vnuva-successfully-organized {
  flex: 1;
  position: relative;
  display: inline-block;
  height: 296px;
}
.flacia1 {
  position: absolute;
  top: 0;
  left: 89.3%;
  font-size: var(--font-size-22xl-7);
  text-transform: capitalize;
  text-align: right;
}
.flacia {
  position: absolute;
  width: 84.38%;
  top: 5513px;
  right: 6.04%;
  left: 9.58%;
  height: 469.5px;
}
.bvcoe-students-serving {
  margin: 0;
}
.bvcoe-students-serving-container {
  position: absolute;
  width: 84.66%;
  top: 520.6px;
  left: 15.34%;
  display: inline-block;
  height: 570px;
}
.athetic-pic-child,
.athetic-pic-item {
  position: absolute;
  border-radius: var(--br-16xl);
}
.athetic-pic-child {
  top: 0;
  left: calc(50% - 187px);
  background-color: var(--color-darkgray);
  width: 374px;
  height: 329px;
}
.athetic-pic-item {
  top: 22px;
  left: calc(50% - 208px);
  width: 416px;
  height: 307px;
  object-fit: cover;
}
.on-the-vibrant {
  flex: 1;
  position: relative;
  display: inline-block;
  height: 342px;
}
.athetic-pic-parent {
  position: absolute;
  width: 84.37%;
  top: 179px;
  right: 0.29%;
  left: 15.34%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mid);
}
.athletic-elegance1 {
  position: absolute;
  top: 69.6px;
  left: 12.81%;
  font-size: var(--font-size-31xl);
  text-transform: capitalize;
  text-align: left;
}
.athletic-elegance-child {
  position: absolute;
  width: 46.4%;
  top: 0;
  right: 53.6%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 582.6px;
  object-fit: contain;
}
.athletic-elegance {
  position: absolute;
  width: 95.97%;
  top: 4334px;
  right: 8.19%;
  left: -4.17%;
  height: 1090.6px;
}
.looked-vibrant-in {
  position: absolute;
  width: 97.79%;
  top: 451px;
  left: 0.16%;
  display: inline-block;
  height: 266px;
}
.vnuva-organized-a {
  width: 733px;
  position: relative;
  display: inline-block;
  height: 342px;
  flex-shrink: 0;
}
.ethnic-pic-child,
.ethnic-pic-item {
  position: absolute;
  border-radius: var(--br-16xl);
}
.ethnic-pic-child {
  width: 89.9%;
  top: 0;
  right: 5.05%;
  left: 5.05%;
  background-color: var(--color-darkgray);
  height: 342px;
}
.ethnic-pic-item {
  width: 100%;
  top: 22.9px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 319.1px;
  object-fit: cover;
}
.ethnic-pic {
  width: 416px;
  position: relative;
  height: 342px;
}
.vnuva-organized-a-program-to-parent {
  position: absolute;
  top: 109px;
  left: calc(50% - 611px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 43px;
  text-align: justify;
}
.ethnic-day-child {
  position: absolute;
  width: 30.73%;
  top: 77.5px;
  right: 0.04%;
  left: 69.23%;
  max-width: 100%;
  overflow: hidden;
  height: 644px;
}
.ethnic-day1 {
  position: absolute;
  top: 0;
  left: 82.82%;
  font-size: var(--font-size-22xl-7);
  text-transform: capitalize;
  text-align: right;
}
.ethnic-day {
  position: absolute;
  width: 84.86%;
  top: 3600px;
  right: 7.78%;
  left: 7.36%;
  height: 721.5px;
  text-align: left;
}
.style-confidence-and {
  position: absolute;
  width: 83.39%;
  top: 517px;
  left: 16.59%;
  white-space: pre-wrap;
  display: inline-block;
  height: 760px;
}
.on-the-evening {
  width: 766px;
  position: relative;
  display: inline-block;
  height: 339px;
  flex-shrink: 0;
}
.prom-pic-parent {
  position: absolute;
  width: 83.39%;
  top: 177.6px;
  right: 0;
  left: 16.61%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mid);
}
.prom-child {
  width: 48.81%;
  top: 0;
  right: 51.19%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 661px;
  object-fit: contain;
}
.prom,
.prom-child,
.prom1 {
  position: absolute;
}
.prom1 {
  top: 69.6px;
  left: 14.66%;
  font-size: var(--font-size-31xl);
  text-transform: capitalize;
  text-align: left;
}
.prom {
  width: 99.85%;
  top: 2241px;
  right: 7.36%;
  left: -7.21%;
  height: 1277px;
}
.modern-trends-they {
  position: absolute;
  width: 97.61%;
  top: 452px;
  left: 0;
  display: inline-block;
  height: 342px;
}
.vnuva-organised-a-container {
  width: 733px;
  position: relative;
  display: inline-block;
  height: 329px;
  flex-shrink: 0;
}
.vnuva-organised-a-photoshoot-parent {
  position: absolute;
  top: 109px;
  left: calc(50% - 607.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-18xl);
}
.euphoria1 {
  position: absolute;
  top: 0;
  left: 83.37%;
  font-size: var(--font-size-31xl);
  text-transform: capitalize;
  text-align: right;
}
.euphoria {
  position: absolute;
  width: 84.38%;
  top: 1434px;
  right: 8.75%;
  left: 6.88%;
  height: 794px;
}
.blend-of-professionalism-container {
  position: absolute;
  width: 85.25%;
  top: 520px;
  left: 14.75%;
  display: inline-block;
  height: 494px;
}
.on-the-sunny {
  width: 752px;
  position: relative;
  display: inline-block;
  height: 342px;
  flex-shrink: 0;
}
.corporate-pic-parent {
  position: absolute;
  width: 85.1%;
  top: 178px;
  right: 0;
  left: 14.9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-18xl);
}
.corporate-photoshoot1 {
  position: absolute;
  top: 69.6px;
  left: 12.97%;
  font-size: var(--font-size-31xl);
  text-transform: capitalize;
  text-align: center;
}
.corporate-photoshoot-child {
  position: absolute;
  width: 45.71%;
  top: 0;
  right: 54.29%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 582.6px;
  object-fit: contain;
}
.corporate-photoshoot {
  position: absolute;
  width: 97.43%;
  top: 338px;
  right: 7.71%;
  left: -5.14%;
  height: 1014px;
}
.events-child {
  position: absolute;
  top: 255.3px;
  left: calc(50% - 85px);
  width: 193px;
  height: 0.7px;
  object-fit: contain;
}
.events6 {
  position: absolute;
  top: 179px;
  left: calc(50% - 182px);
  font-size: var(--font-size-47xl);
  text-align: center;
  display: inline-block;
  width: 387px;
  height: 63px;
}
.about6,
.contact-us6,
.events7,
.home5 {
  width: 78px;
  position: relative;
  font-weight: 900;
  display: inline-block;
  height: 29px;
  flex-shrink: 0;
}
.about6,
.contact-us6,
.events7 {
  width: 93px;
}
.contact-us6,
.events7 {
  width: 88px;
}
.contact-us6 {
  width: 154px;
}
.menu-bar2 {
  position: absolute;
  width: 42.97%;
  top: 37px;
  right: 6.5%;
  left: 50.52%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
}
.image-9-icon2,
.logo-icon3 {
  position: absolute;
  width: 13.36%;
  top: 0;
  right: 86.64%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 122px;
  object-fit: cover;
}
.image-9-icon2 {
  width: 2.47%;
  top: 37px;
  right: 0;
  left: 97.53%;
  height: 33px;
}
.top-bar1 {
  position: absolute;
  width: 92.92%;
  top: 16px;
  right: 3.54%;
  left: 3.54%;
  height: 122px;
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-cheque);
}
.events4 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  height: 7477px;
  overflow: hidden;
  text-align: justify;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-abyssinica-sil);
}
